<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calcular IVA</title>
</head>
<body>
<h1>Calculadora del IVA 15% con Descuento</h1>
<form action="#" th:action="@{/impuestos}" method="post">
    <label>Monto:</label>
    <input type="number" step="0.01" name="monto" th:value="${monto}" required/>
    <button type="submit">Calcular</button>
</form>

<div th:if="${resultado != null}">
    <!-- Mostrar mensaje si se aplicó descuento -->
    <p th:if="${monto >= 1200}" style="color: green;">Se aplicó un descuento del 5%</p>

    <h2>IVA Calculado (15%): <span th:text="${resultado}">0.0</span></h2>
    <h2>Total a pagar (con IVA): <span th:text="${total}">0.0</span></h2>
</div>

</body>
</html>
